<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Settings Page</ion-card-subtitle>
      <ion-card-title>Welcome to Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label position="stacked">
      <ion-text>Amount*</ion-text>
    </ion-label>
    <ion-input required type="number" [(ngModel)]="amount"></ion-input>
  </ion-item>
<!--
 TODO -
  Add Daily/Weekly toogle box
  Change view depending on which is selected
  Set Day on Weekly
  Set Time on both 
-->
  <ion-radio-group [(ngModel)]="schedule" (ionChange)="setSchedule(value)">
    <ion-list-header>
      <ion-label position="stacked">Schedule*</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Daily</ion-label>
      <ion-radio slot="start" color="success" value="daily"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Weekly</ion-label>
      <ion-radio slot="start" color="tertiary" value="weekly"></ion-radio>
    </ion-item>
    
  </ion-radio-group>

  <div *ngIf="daily"> 
    here is DAILY
  </div>

  <div *ngIf="weekly">
    here is WEEKLY
  </div>

  <ion-item>
    <ion-label position="stacked">
      <ion-text>Notification time*</ion-text>
    </ion-label>
    <ion-input required type="time" [(ngModel)]="time"></ion-input>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-button (click)="saveSettings()">
    Save
  </ion-button>

  <ion-button (click)="logValues()">
    Log values
  </ion-button>
</ion-footer>