<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Settings Page</ion-card-subtitle>
      <ion-card-title>Welcome to Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label position="stacked">
      <ion-text>Amount*</ion-text>
    </ion-label>
    <ion-input required type="number" [(ngModel)]="amount"></ion-input>
  </ion-item>

  <ion-radio-group [(ngModel)]="schedule" (ionChange)="setSchedule()">
    <ion-list-header>
      <ion-label position="stacked">Schedule*</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Daily</ion-label>
      <ion-radio slot="start" value="daily"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Weekly</ion-label>
      <ion-radio slot="start" value="weekly"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <div *ngIf="daily"> 
    <ion-item>
      <ion-label position="stacked">
        <ion-text>Notification time*</ion-text>
      </ion-label>
      <ion-input required type="time" [(ngModel)]="time"></ion-input>
    </ion-item>
  </div>

  <div *ngIf="weekly">
    <ion-item>
      <ion-label position="stacked">Day</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="dayChoice">
        <ion-select-option value="monday">Monday</ion-select-option>
        <ion-select-option value="tuesday">Tuesday</ion-select-option>
        <ion-select-option value="wednesday">Wednesday</ion-select-option>
        <ion-select-option value="thursday">Thursday</ion-select-option>
        <ion-select-option value="friday">Friday</ion-select-option>
        <ion-select-option value="saturday">Saturday</ion-select-option>
        <ion-select-option value="sunday">Sunday</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        <ion-text>Notification time*</ion-text>
      </ion-label>
      <ion-input required type="time" [(ngModel)]="time"></ion-input>
    </ion-item>
  </div>

  

</ion-content>

<ion-footer>
  <ion-button (click)="saveSettings()">
    Save
  </ion-button>

  <ion-button (click)="logValues()">
    Log values
  </ion-button>
</ion-footer>